.player {
	font-size: small;
	background-color: black;
	border-radius: 10px;
	width: 88px;
	width: 162px;
}

.selected-card {
	border-radius: 10px;
	border: 2px solid rgb(255, 0, 0);
}

ion-col {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}